.upload-container {
    max-width: 500px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 255, 255); /* Added background color */
}

.upload-content {
    margin-bottom: 15px;
}

.upload-label {
    display: block;
    font-weight: bold;
}

.upload-input, .upload-textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-textarea { /* Changed class name to match textarea */
    resize: vertical; /* Allow vertical resizing of textarea */
}

.upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #0056b3;
}
